*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.body {
  background: #fff;
  font-family: "Inter", sans-serif;
  padding: 2.4rem 2.4rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.header__logo {
  width: 2.8055rem;
  height: 3.2rem;
}
.header__font-toggle-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.header__font-container {
  display: flex;
  gap: 1.6rem;
  position: relative;
}
.header__font {
  color: #2d2d2d;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.header__font-styles {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.26rem;
  width: 14.4rem;
  height: 12rem;
  border-radius: 1.6rem;
  background: #fff;
  box-shadow: 0 0.5rem 3rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.9rem 0 0 1.9rem;
  position: absolute;
  top: 3.8rem;
  right: 0;
  z-index: 10;
}
.header__font-style {
  color: #2d2d2d;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
}
.header__font-style:first-child {
  font-family: "Inter", sans-serif;
}
.header__font-style:nth-child(2) {
  font-family: "Lora", serif;
}
.header__font-style:last-child {
  font-family: "Inconsolata", monospace;
}
.header__vertical-line {
  width: 0.1rem;
  height: 3.2rem;
  background: #e9e9e9;
}
.header__toggle-moon-container {
  display: flex;
  gap: 1.2rem;
}
.header__toggle-btn {
  background: none;
  border: none;
  position: relative;
  width: 4rem;
  height: 2rem;
}
.header__toggle-rectangle {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: #757575;
  transition: all 0.3s;
}
.header__toggle-oval {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  background: #fff;
  position: absolute;
  top: 0.3rem;
  transform: translateX(0.3rem);
  transition: all 0.3s;
}

.form {
  margin-bottom: 2.4rem;
}
.form__input-container {
  position: relative;
}
.form__input {
  width: 100%;
  height: 4.8rem;
  border-radius: 1.6rem;
  background: #f4f4f4;
  color: #2d2d2d;
  border: 0.1rem solid transparent;
  padding-left: 2.4rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
}
.form__input::-moz-placeholder {
  color: rgba(45, 45, 45, 0.25);
}
.form__input::placeholder {
  color: rgba(45, 45, 45, 0.25);
}
.form__input:focus {
  border: 0.1rem solid #a445ed;
  outline: none;
}
.form__search-btn {
  border: none;
  background: none;
  position: absolute;
  top: 1.6rem;
  right: 2.44rem;
}
.form__input-error {
  color: #ff5252;
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.spinner {
  border: 0.4rem solid rgba(0, 0, 0, 0.3);
  border-top: 0.4rem solid #a445ed;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.word-phonetic-audio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.9rem;
}

.word-phonetic-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.word {
  color: #2d2d2d;
  font-size: 3.2rem;
  font-weight: 700;
}

.phonetic {
  color: #a445ed;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.play-audio-btn {
  border: none;
  background: none;
}
.play-audio-btn, .play-audio-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.part-of-speech-line-container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  height: 2.1rem;
  margin-bottom: 3.2rem;
}

.part-of-speech {
  color: #2d2d2d;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
}

.horizontal-line {
  flex: 1;
  border: 0.1rem solid #e9e9e9;
}

.word-meanings {
  margin-bottom: 3.3rem;
}

.meaning-text {
  display: inline-block;
  color: #757575;
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
}

.meanings {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.bullet-meaning-container {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.bullet-point {
  margin-top: 1rem;
}

.word-meaning-example {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  flex: 1;
}

.word-meaning {
  color: #2d2d2d;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.word-example {
  color: #757575;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.synonyms-container,
.antonyms-container {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.synonyms-text,
.antonyms-text {
  color: #757575;
  font-size: 1.6rem;
}

.synonyms,
.antonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.synonym,
.antonym {
  color: #a445ed;
  font-size: 1.6rem;
  font-weight: 700;
}

.source {
  border-top: 0.1rem solid #e9e9e9;
  padding: 2.4rem 0 8.5rem;
}
.source__text {
  display: block;
  color: #757575;
  font-size: 1.4rem;
  text-decoration: underline;
  margin-bottom: 0.8rem;
}
.source__link-window {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.source__link {
  color: #2d2d2d;
  font-size: 1.4rem;
  text-decoration: none;
  border-bottom: 0.1rem solid #d4d4d4;
}
.source__new-window-link {
  width: 1.4rem;
  height: 1.4rem;
}

.not-found {
  text-align: center;
  margin-top: 6rem;
}
.not-found__emoji {
  display: block;
  font-size: 5.12rem;
  margin-bottom: 3.52rem;
}
.not-found__text {
  display: inline-block;
  color: #2d2d2d;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.92rem;
}
.not-found__apology {
  color: #757575;
  font-size: 1.44rem;
  line-height: 1.92rem;
}

.hidden {
  display: none;
}

.body--font-inter {
  font-family: "Inter", sans-serif;
}

.body--font-lora {
  font-family: "Lora", serif;
}

.body--font-inconsolata {
  font-family: "Inconsolata", monospace;
}

.body--dark {
  background: #050505;
}

.header__font--dark {
  color: #fff;
}

.header__moon-icon-path--dark {
  stroke: #a445ed;
}

.header__toggle-rectangle--dark {
  background: #a445ed;
  transition: all 0.3s;
}

.header__toggle-oval--dark {
  transform: translateX(2.3rem);
  transition: all 0.3s;
}

.form__input--red {
  border: 0.1rem solid #ff5252;
}

.form__input--dark {
  background: #1f1f1f;
  color: #fff;
}

.form__input--dark::-moz-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.form__input--dark::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.spinner--dark {
  border: 0.4rem solid #a445ed;
  border-top: 0.4rem solid #fff;
}

.word--dark {
  color: #fff;
}

.part-of-speech--dark {
  color: #fff;
}

.horizontal-line--dark {
  border: 0.1rem solid #3a3a3a;
}

.word-meaning--dark {
  color: #fff;
}

.source--dark {
  border-top: 0.1rem solid #3a3a3a;
}

.source__link--dark {
  color: #fff;
  border-bottom: 0.1rem solid #2f2f2f;
}

.not-found__text--dark {
  color: #fff;
}/*# sourceMappingURL=main.css.map */