// *********** 768px LAYOUT ***********
@media only screen and (min-width: 48em) {
  .body {
    padding: 5.8rem 4rem 0;
  }

  // ************* HEADER *************
  .header {
    margin-bottom: 5.15rem;

    &__logo {
      width: 3.2rem;
      height: 3.65rem;
    }

    &__font-toggle-container {
      gap: 2.6rem;
    }

    &__font-container {
      gap: 1.8rem;
    }

    &__font {
      font-size: 1.8rem;
    }

    &__font-styles {
      gap: 1.6rem;
      width: 17.325rem;
      height: 14.4rem;
      padding: 2.275rem 0 0 2.275rem;
      top: 4.1rem;
    }

    &__font-style {
      font-size: 1.7rem;
      line-height: 2.275rem;
    }

    &__toggle-moon-container {
      gap: 2rem;
    }
  }

  // ************** FORM **************
  .form {
    margin-bottom: 4.1rem;

    &__input {
      height: 6.4rem;
      font-size: 2rem;
    }

    &__search-btn {
      top: 2.4rem;
    }

    &__input-error {
      font-size: 1.9rem;
    }
  }

  // ******** LOADING-SPINNER *********
  .spinner {
    width: 2.5rem;
    height: 2.5rem;
  }

  // * WORD-PHONETIC-AUDIO-CONTAINER *
  .word-phonetic-audio-container {
    margin-bottom: 4rem;
  }

  .word {
    font-size: 6.4rem;
  }

  .phonetic {
    font-size: 2.4rem;
  }

  .play-audio {
    &-btn,
    &-icon {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  // * PART OF SPEECH LINE CONTAINER *
  .part-of-speech-line-container {
    gap: 2rem;
    height: 2.9rem;
    margin-bottom: 4rem;
  }

  .part-of-speech {
    font-size: 2.4rem;
  }

  // ********* WORD MEANINGS *********
  .word-meanings {
    margin-bottom: 4rem;
  }

  .meaning-text {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .word-meaning {
    font-size: 1.8rem;
  }

  .word-example {
    font-size: 1.8rem;
  }

  .synonyms-container,
  .antonyms-container {
    margin-top: 4rem;
  }

  .synonyms-text,
  .antonyms-text {
    font-size: 2rem;
  }

  .synonyms,
  .antonyms {
    gap: 1.7rem;
  }

  .synonym,
  .antonym {
    font-size: 2rem;
  }

  // ************* SOURCE *************
  .source {
    padding: 1.9rem 0 11.8rem;
    gap: 2rem;
  }

  // *********** NOT FOUND ***********
  .not-found {
    margin-top: 11.4rem;

    &__emoji {
      font-size: 6.08rem;
      margin-bottom: 4.18rem;
    }

    &__text {
      font-size: 1.9rem;
      margin-bottom: 2.28rem;
    }

    &__apology {
      font-size: 1.71rem;
      line-height: 2.28rem;
    }
  }
}
